.skills {
    padding: 0;
    font-family: var(--font-body);
    line-height: 1.65;
    color: var(--skills-text-color);
  }

  .sectionHeader {
    text-align: center;
  }
  
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    background-color: var(--skills-background-color);
    color: var(--skills-pill-text-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .skill {
      font-size: 0.9rem;
    }
  }
  